
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    
    <link href="./assets/css/style.css" rel="stylesheet">

    <title><?= $title ?> | Makerhub</title>
</head>

<body>
<div class="navbar">
    <a href="index.php">
        <div class="header-logo">
        </div>
    </a>

    <div class="profil" id="profil">
       
    </div>


    <div class="auth">
        <button class="button button-login" onclick="location.href = 'log-in.php'">
            Se connecter
        </button>
        <button class="button button-signup" onclick="location.href = 'sign-up.php'">
            S'inscrire
        </button>
    </div>

</div>
