
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --base-color: #122965;
    --base-color-2: #F1F1F1;
    --base-color-3: #FFFFFF;
    --secondary-text-color: rgb(0 0 0 / .65);
    --important-element-color: #732440;
    --accentuation_color: #D1D1D1;
    --secondary-border-color: #A9A9A9;
    --navbar-height: 80px;
    --footer-height: 11vh;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', serif;
    background-color: var(--base-color-2);
    color: var(--base-color);
    margin-top: var(--navbar-height);
}

.container {
    min-height: calc(100vh - (var(--navbar-height) + var(--footer-height))) !important;
}

.container-log-in {
    padding-top: 6.5%;
}

.container-sign-up {
    padding-top: 2.5%;
}

.underline {
    text-decoration: underline;
}

button {
    background-color: var(--important-element-color);
    border: 2px solid var(--important-element-color);
    font-family: 'Kanit', serif;
    font-weight: bold;
    color: var(--base-color-2);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;

    border-radius: 10px;
}

.button-bordered {
    background-color: #fff;
    color: var(--important-element-color);
}

input, textarea, select {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--accentuation_color);
    outline: none;
}

input[type="file"] {
    display: none;
}

textarea {
    font-family: 'Kanit', serif;
    font-size: 13px;
}

input:focus, textarea:focus, select:focus {
    border: 1px solid var(--secondary-text-color);
}

input, button {
    font: inherit;
}

label {
    margin-bottom: 3px;
}

.navbar {
    background-color: var(--base-color-2);
    width: 100%;
    height: var(--navbar-height);
    position: fixed;
    top: 0;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.header-logo {
    padding-left: 5% !important;
}

.img-logo {
    width: 70%;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    list-style-type: none;
    margin-left: -4%;
}

.navbar-links li {
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

.navbar-links li a {
    color: var(--base-color);
    font-size: 1.3em;
    font-weight: 700;
    text-decoration: none;
}

.navbar-links li:hover {
    background-color: var(--accentuation_color);
}

/* SIGN UP */
.sign-up {
    width: 45%;
    margin: 2% auto 3% auto !important;
}

.sign-up h1 {
    margin-bottom: 0;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.sign-up-form .form-control {
    width: 100%;
}

.sign-up .toggle {
    margin-top: 2%;
    margin-bottom: 5%;
    padding-bottom: 0;
}


/* LABEL AND WRITE PART */
.required {
    color: red;
    padding-bottom: 4%;
    text-align: center;
}

.required-signup {
    padding-bottom: 0;
}

.signup-eye {
    left: 95%;
    margin-top: -4.5%;
}

/* END LABEL AND WRITE PART */


/* Format mobile */
@media screen and (max-width: 817px) {
    #dropdown {
        left: 0;
        width: 98vw;
        transform: none;
        left: auto;
    }

    .footer {
        height: 20vh;
    }

    .footer-logo, .footer-copyrights {
        display: none;
    }

    .footer-links {
        width: 100%;
    }

    .footer-links-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10%;
    }

    /* LOG-in & SIGN-UP */
    .log-in {
        width: 95%;
        padding: 10px 10px;
    }

    .form-row {
        display: block;
    }
/* Format tablette */
@media screen and (min-width: 818px) and (max-width: 1561px) {
    body {
        font-size: 0.8em;
    }

    .footer-links {
        width: 60%;
    }

}
}
