
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Cookies</title>
     <link rel="stylesheet" href="components/header.css">
    <link rel="stylesheet" href="components/footer.css">
    <link rel="stylesheet" href="Layouts/cookies.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="legal-page-container">
    <h1>Conditions générales d'utilisation</h1>

    <div class="notice-section">
        <h2>Définitions</h2>
        <p>        
            Site : désigne le site internet accessible par l'url suivante : <a class="website-link" >https://www.pulsezone.fr</a>
            Utilisateur : toute personne accédant et naviguant sur le Site, à quelque titre que ce soit.
            Contenu : désigne l'ensemble des éléments présents sur le Site (textes, images, vidéos, logos, etc.).
        </p>
    </div>

    <div class="notice-section">
        <h2>Objet</h2>
        <p>
            Les présentes CGU ont pour objet de définir les conditions dans lesquelles les utilisateurs peuvent accéder au Site et l'utiliser.
            En accédant au Site, l'utilisateur accepte sans réserve les présentes CGU.
        </p>
    </div>

    <div class="notice-section">
        <h2>Accès au site</h2>
        <p>
            L'accès au Site est ouvert à tout utilisateur disposant d'une connexion Internet.
            Le site est accessible gratuitement, hors coûts de connexion et d'abonnement à Internet. Certaines sections du site peuvent toutefois être réservées aux utilisateurs enregistrés.
        </p>
    </div>

    <div class="notice-section">
        <h2>Propriété intellectuelle</h2>
        <p>
            Le contenu du site (textes, images, logos, etc.) est protégé par les lois en vigueur relatives à la propriété intellectuelle et aux droits d'auteur.
            Toute reproduction, représentation, modification, ou adaptation, totale ou partielle du contenu, sans l'autorisation écrite préalable de MakerHUB, est interdite et constitue une contrefaçon.
        </p>
    </div>

    <div class="notice-section">
        <h2>Données personnelles</h2>
        <p>
            Le site peut recueillir des données personnelles telles que le nom, l'adresse e-mail, etc. Conformément à la réglementation en vigueur (RGPD), l'utilisateur dispose d'un droit d'accès, de rectification et de suppression de ses données personnelles.
            Pour toute demande, contactez pulsezonecompany@gmail.com.
        </p>
    </div>

    <div class="notice-section">
        <h2>Modification des CGU</h2>
        <p>
            PulseZone se réserve le droit de modifier à tout moment les présentes CGU.
            Les utilisateurs sont invités à les consulter régulièrement. Les modifications prennent effet à compter de leur publication sur le Site.
        </p>
    </div>
</div>
<div id="footer"></div>
    <script type="module">
        import { renderFooter } from '/APP-ProjetCommun/app/Views/components/footer.js';
        document.getElementById('footer').innerHTML = renderFooter();
    </script>
</body>
</html>