<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Cookies</title>
     <link rel="stylesheet" href="components/header.css">
    <link rel="stylesheet" href="components/footer.css">
    <link rel="stylesheet" href="Layouts/cookies.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="container-cookies">
    <h1 class="title">Notre politique de cookies</h1>

    <div class="cookiessection cookiessection-first">
        <h2 class="first-h2-cookie">Introduction</h2>

        <p>PulseZone utilise des cookies pour améliorer votre expérience de navigation sur notre site web.
            En utilisant notre site, vous acceptez ou non notre politque de cookies.  </p>
    </div>

    <div class="cookiessection">
        <h2>Que faisons-nous avec ?</h2>

        <p>Les cookies que nous collectons ont pour unique but d'améliorer votre expérience sur notre site.        </p>
    </div>  

    <div class="cookiessection">
        <h2>Gestion des cookies</h2>

        <p>En accédant à notre site, vous pouvez accepter ou non les cookies.
            La sécurité de vos données personnelles est primordiale pour nous.
        </p>
    </div>  

    <div class="cookiessection">
        <h2>Combien de temps gardons-nous vos données ?</h2>

        <p>Nous conservons vos données personnelles pendant deux ans à compter de votre dernière connexion sur notre site.
        </p>

    </div>      
</div>
<div id="footer"></div>
    <script type="module">
        import { renderFooter } from '/APP-ProjetCommun/app/Views/components/footer.js';
        document.getElementById('footer').innerHTML = renderFooter();
    </script>
</body>
</html>